<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to twig</title>
  
    </head>
    <body>
     {{ include("welcome.html.twig",{user_name:"Muhammad Umar"}) }}
        <h2>{{user_name[0]}}</h2>

        <p>{{path('twig',{id:34})}}</p>
        <p>{{url('twig',{id:34})}}</p>
        <img src="{{asset('conflict.png')}}" alt="check"/>
        <p>{% dump app.flashes("noti") %}</p>
    </body>
</html>
